.upme-zia-select2-setting{
    width: 80%;
}

.upme-zia-select2-setting,.upme_zia_select2-container{
    width: 50% !important;
    
}

.upme-zia-select2-full-setting .upme_zia_select2-container{
    width: 100% !important;
    
}

#upme-zapier-hooks-panel{
	padding: 20px;
	background: #FFF;
	border:1px solid #cfcfcf;
}

#upme-zapier-hooks-panel th{
	width: 300px;
}

#upme-zapier-hooks-panel input[type='text'],
#upme-zapier-hooks-panel select{
	width: 400px;
}