#upcm-contacts-container{
    color: #626262;
    font-family: helvetica;
}

#upcm-contact-controls{
    border: 1px solid #cfcfcf;
    float: left;
    margin: 10px;
}

.upcm-contact-control-item{
    background: none repeat scroll 0 0 #ededed;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
}

.upcm-contact-control-item-left{
    border-left: 2px solid #cfcfcf;
}

.upcm-contact-control-item-right{
    border-right: 2px solid #cfcfcf;
}


/* Contact Form */
#upcm-contact-form-msg{

    border-radius: 3px;
    display: block;
    font-size: 12px;
    margin: 0 0 20px;
    padding: 8px 15px;
}

#upcm-contact-form-panel,#upcm-contact-settings-container{
    padding: 20px;
}

.upcm-contact-form-field input[type='text']{
    background: none repeat scroll 0 0 #f9f9f9 !important;
    border: 1px solid #eee !important;
    height: 35px !important;
    padding: 0 !important;
    width: 100% !important;
}

.upcm-contact-form-label{
    font-size: 15px;
    margin: 10px 0;
}

.upcm-contact-form-label span{
    color: red;
}

.upcm-contact-form-header{
    
    font-size: 16px;
    font-weight: bold;
}

.upcm-loading{
    color: #007cff;
    font-size: 13px;
    font-weight: bold;
    margin: 10px;
    display: none;
}

.upcm-contact-settings-field input[type='text']{
    background: none repeat scroll 0 0 #f9f9f9 !important;
    border: 1px solid #eee !important;
    height: 35px !important;
    padding: 0 !important;
    width: 100% !important;
}

.upcm-contact-settings-field textarea,.upcm-contact-form-field textarea{
    background: none repeat scroll 0 0 #f9f9f9 !important;
    border: 1px solid #eee !important;
    width: 100% !important;
    height: 200px;
    margin-bottom: 10px;
}

.upcm-contact-settings-field select{
    background: none repeat scroll 0 0 #f9f9f9;
    border: 1px solid #cfcfcf;
    height: 35px;
    width: 100%;
}

.upcm-contact-settings-field input[type='text'],
.upcm-contact-settings-field textarea,
.upcm-contact-settings-field select{
    font-size: 14px;
    text-indent: 10px;
}

.upcm-contact-form-field input[type='text'],
.upcm-contact-form-field textarea,
.upcm-contact-form-field select{
    font-size: 14px;
    text-indent: 10px;
}

.upcm-contact-settings-label{
    font-size: 15px;
    margin: 10px 0;
}

.upcm-active{
    background: #cfcfcf;
}

#upcm-contact-details{
    padding: 20px;
}
.upcm-contact-details-title{
    color: #4b4b4b;
    font-size: 15px;
    font-weight: bold;
}

.upcm-contact-detail{
    width: 50%;
    float: left;
}

.upcm-contact-details-value{
    color: #8f8a8a;
    font-size: 15px;
}