/* Settings Common Styles */

.uaio-settings-panel{
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #cfcfcf;
    margin-top: 20px;
    padding: 10px;
    width: 95%;
}

.uaio-settings-panel h2{
    font-weight: bold;
}

.uaio-settings-form{
    background-color: #fff;
    padding: 5px 20px 40px;
}

.uaio-settings-form .upme-icons{
    float: left;
    margin: 0 20px 0 0;
    padding: 0 0 16px;
    width: 55px;
}

/* Social login styles */
#uaio-social-networks-view{
	background: none repeat scroll 0 0 #FFFFFF;
    margin: 20px 0;
    padding: 10px 2%;
    width: 94%;
}

.uaio-social-networks-content h3{
	background: none repeat scroll 0 0 #EEEEEE;
    padding: 10px;
}

.uaio-admin-setting-row{

}

.uaio-admin-setting-label{
	width: 30%;
	float: left;
	padding: 10px;
	font-size: 14px;
}

.uaio-admin-setting-field{
	width: 65%;
	float: left;
	padding: 10px;
	font-size: 15px;
}

.uaio-clear{
	clear: both;
}

.uaio-admin-setting-field p{
	margin:0;
}

.uaio-admin-setting-sub-header{
    margin-top:20px;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
}

#uaio-social-networks-view input[type='text']{
	width:300px;
	background:#f3f3f3;
	border:1px solid #cfcfcf;
}

.uaio-social-networks-content h3{
	margin:10px 0 0;
}

#uaio-social-networks-general-settings,#uaio-social-networks-application-settings{
	background: none repeat scroll 0 0 #FBFBFB;
	padding:10px;
}

#uaio-social-networks-view input[type='submit']{
	background: none repeat scroll 0 0 #E8E8E8;
    border: 1px solid #CFCFCF;
    border-radius: 5px 5px 5px 5px;
    font-weight: bold;
    padding: 10px;
}
    


/* Custom field types styles */
.uaio-conditional-field-settings{
    background: none repeat scroll 0 0 #fff;
    margin: 20px 10px;
    padding: 10px;
}

.uaio-conditional-field-settings h2{
    font-family: helvetica;
    font-weight: bold;
}

.gm-style img {
    max-width: none !important; 
}

/* Registration forms styles */
#uaio-registration-field-err
{
    background: none repeat scroll 0 0 #fb8080;
    color: #000;
    padding: 5px;
}

#uaio-reg-fields-list li{
    background: none repeat scroll 0 0 #eee;
    border: 1px solid #cfcfcf;
    padding: 10px;
}

.uaio-reg-field-delete{
    color: #cb0c0c;
    float: right;
    font-size: 18px;
    line-height: 20px;
    padding: 0;
}

.uaio-reg-field-delete:hover{
    cursor: pointer;
}
